body {
  font-family: Arial,Helvetica,sans-serif;
  background: #333;
  color: #CCC;
}
a, a:visited {
  color:            #4078c0;
  text-decoration:  none;
}
a:hover, a:active {
  text-decoration:  underline;
}
h3 {
  padding: 0px;
  margin: 0px;
}
h4 {
  padding: 0px;
  margin: 0px;
}
.repo{
  padding-bottom: 20px;
  vertical-align: top;
  display: inline-block;
  margin: 2px;
  padding: 2px;
  border: 3px solid #CCC;
}
.btn {
    background-color: #333;
    border: none;
    color: #CCC;
    cursor: pointer;
}
.inline {
  display: inline;
}