.spinner {
  margin: auto;
  margin-top: 2em;
}
section.is-hidden, nav.is-hidden, footer.is-hidden {
  display: none;
}

.column .box {
  color: #f5f5f5;
  background-color: #363636;
}

.has-small-top-margin {
  margin-top: 1em;
}

.has-tiny-top-margin {
  margin-top: 0.5em;
}

strong.huge {
  font-size: x-large;  
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.column .box .media-content a:hover {
  color: #98b9ed;
}

.input.is-header-input {
  border: 0;
  box-shadow: none;
  background-color: #363636;
  color: #f5f5f5;
}

.input.is-header-input:focus {
  box-shadow: none;
}

input.is-header-input::placeholder  {
  opacity: 0.5;
  color: #f5f5f5;
}

.is-underlined {
  border-bottom: 1px #f5f5f5 solid;
}

@media (max-width: 320px) {
  .field.is-main-search {
    width: 175px;
  }
}