body {
  font-family: Arial,Helvetica,sans-serif;
  background: #333;
  color: #CCC;
}
a, a:visited {
  color:            #4078c0;
  text-decoration:  none;
}
a:hover, a:active {
  text-decoration:  underline;
}